.products {
  width: 100%;
  height: 34vh;

  .first {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding: 10px 0;

    .box-text {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-right: 12px;

      p {
        font-weight: bold;
        font-size: 19px;
      }

      h6 {
        color: #0a84ff;
        padding-top: 30px;
      }

      span {
        font-size: 16px;
      }
    }

    img {
      width: 40%;
      height: auto;
    }
  }
}

.products-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 103vh;
  width: 100%;
  padding: 0 23px;

  .box-txt {
    padding: 0 20px;

    img {
      width: 70%;
      height: auto;
      margin-top: 20px;
      object-fit: cover;
    }

    p {
      margin-top: 15px;
      font-size: 25px;
      font-weight: bold;
    }

    span {
      margin-top: 15px;
    }

    h6 {
      color: #0a84ff;
      margin-top: 15px;

      i {
        font-size: 10px;
        margin-left: 6px;
      }
    }
  }
}

.item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  background-color: #F6F6F6;
}

.item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
  background-color: #F6F6F6;

}

.item-2 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
  background-color: #F6F6F6;

}

.item-3 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
  background-color: #F6F6F6;


}

.item-4 {

  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  background-color: #F6F6F6;


}

.item-5 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
  background-color: #F6F6F6;
}